h2 {
	font: 30px Helvetica, Verdana, sans-serif;
	text-decoration: underline overline;
}

ul {
	list-style-type: none;
	margin: 20;
	padding: 0;
}

li {
	font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
	border-bottom: 1px solid #ccc;
}

li a {
	text-decoration: none;
	color: black;
}

li a:hover {
	font-size: 20px;
	background: #f6f6f6;
}
